body {
  background: url("./images/bg.gif");
  font-family: sans-serif;
  text-align: center;

  .game-grid {
    display: flex;

    .col {
      flex: 1;
    }
  }

  canvas {
    height: 80vh;
    margin: 4px 4px 0 4px;
    border: 1px solid #333;
  }
}
